<div style="max-width: 600px; margin-left: auto; margin-right: auto;margin-bottom: 25px;margin-top: 25px;">
  <button routerLink="/" style="border: 0px;font-size: 30px;padding-bottom: 0px;padding-top: 0px;margin-top: 0px;" type="button" class="btn btn-outline-warning skip-animation-button">
    ←
  </button>
</div>

<div *ngIf="loading" class="spinner-border text-warning" style="width: 5rem; height: 5rem;position: absolute; top: 40vh; left: 50%;" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div style="max-width: 600px; margin: auto;">

  <h2 style="color: white;text-align: center;font-weight: bolder;">{{movie.title}}</h2>
  <hr style="background-color: gold;"/>
  <h5 style="color: white;text-align: center;">{{movie.director}}</h5>
  <h5 style="color: white;text-align: center;">Episode {{movie.episode_id}}</h5>
  <h5 style="color: white;text-align: center;">{{movie.producer}}</h5>
  <h5 style="color: white;text-align: center;">{{movie.release_date}}</h5>


</div>
