<div style="max-width: 600px; margin-left: auto; margin-right: auto;margin-bottom: 25px;margin-top: 25px;">
  <button routerLink="/" style="border: 0px;font-size: 30px;padding-bottom: 0px;padding-top: 0px;margin-top: 0px;" type="button" class="btn btn-outline-warning skip-animation-button">
    ←
  </button>
</div>

<div *ngIf="loading" class="spinner-border text-warning" style="width: 5rem; height: 5rem;position: absolute; top: 40vh; left: 50%;" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div style="max-width: 600px; margin: auto;">

  <h2 style="color: white;text-align: center;font-weight: bolder;">{{planet.name}}</h2>
  <hr style="background-color: gold;"/>
  <h5 style="color: white;text-align: center;">{{planet.climate}}</h5>
  <h5 style="color: white;text-align: center;">{{planet.diameter}} kg</h5>
  <h5 style="color: white;text-align: center;">{{planet.gravity}}</h5>
<!--  <h5 style="color: white;text-align: center;">{{planet.orbital_period}}</h5>-->
<!--  <h5 style="color: white;text-align: center;">{{planet.population}}</h5>-->
<!--  <h5 style="color: white;text-align: center;">{{planet.rotation_period}}</h5>-->
  <h5 style="color: white;text-align: center;">{{planet.terrain}}</h5>










</div>
